html {
    height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  background-image: linear-gradient(-179deg, #3F0A8A 0%, #7F2CDD 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
li,
p {
  margin-block-start: 0;
  margin-block-end: .7rem;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-end: .2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h3,
h4 {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 1rem;
  line-height: 1.1em;
  letter-spacing: -.02rem;
  color: #fff;
}

a,
li,
p {
  font-size: 1.1rem;
  line-height: 1.4em;
  letter-spacing: .02rem;
}

li,
p {
  font-weight: 400;
  color: #decbff;
}

a {
  text-decoration: none;
  font-weight: 600;
}

main,
footer {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 5%;
}

footer {
  padding: 5%;
  a, p {
    text-align: center;
    color: white;
    display: block;
    padding: 8px 0;
  }
  p, p a {
    font-size: .9rem;
    a {
      display: inline-block;
      padding: 0;
    }
  }
}

.logo {
  width:200px;
  max-width: 100%;
  margin: 40px 0 0px;
}

.content {
  padding:30px 0;
}

ul.games,
ul.games li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.app-card {
  padding:30px 0;
  text-align: center;
}

img.feature-image {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 16px 32px -6px rgba(0,0,0,.36), 0 32px 54px -16px rgba(0,0,0,.50);
}

.download-badges {
  display: flex;
  justify-content: center;

  a:first-of-type {
    margin-right: 1%;
  }
  a:last-of-type {
    margin-left: 1%;
  }
}

.android-download-badge {
  background-image: url("/images/supporting/android-badge.svg");
}

.ios-download-badge {
  background-image: url("/images/supporting/ios-badge.svg");
}

a.badge {
  display: flex;
  justify-content: center;
  width: 180px;
  background: black;
  border-radius: 12px;
  max-width: 49%;
  box-shadow: 0 16px 32px -6px rgba(0,0,0,.36), 0 32px 54px -16px rgba(0,0,0,.50);

  .android-download-badge,
  .ios-download-badge {
    height: 48px;
    width: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    flex-basis: auto;
    padding: 2%;
  }
}

.appicon {
  -webkit-mask-box-image: url("/images/supporting/ios-app-icon-mask.svg");
  mask-box-image: url("/images/supporting/ios-app-icon-mask.svg");
}

@media only screen and (min-width: 740px) {
  html {
    font-size: 110%;
  }
  a {
    opacity: 1;
    transition: .3s;
  }

  a:hover {
    opacity: .7;
  }

  a.badge {
    transform: scale(1);
    &:hover {
      box-shadow: 0 24px 44px -12px rgba(0,0,0,.5), 0 48px 62px -8px rgba(0,0,0,.3);
      transform: scale(1.04);
      opacity: 1;
    }
  }
}
